body {
  background-color: #050215;
}

.navbar {
  padding: 0;
  height: 11vh;
  background-color: #161848;
  align-items: inherit;
  position: fixed;
  width: 100vw;
  z-index: 1000;

  &-logo {
    height: 11vh;
    width: 11vh;
    margin-left: 1vw;
    display: flex;

    &-image {
      height: 84%;
      margin-top: 8%;
    }
    .circle {
      margin-left: 1vw;
      transition: all 0.5s;
    }
    .text {
      margin-left: 1vw;
      margin-top: 14%;
      height: 55%;
    }
  }

  &-menu {
    display: flex;
    list-style: none;
    height: 11vh;
    margin-bottom: 0;
    margin-right: 1vw;

    &-item {
      width: 10vw;
      text-align: center;
      line-height: 11vh;
      font-size: 2.8vh; // 2.7vh

      &-link {
        cursor: pointer;
      }
    }
  }
  @media (min-width: 720px) and (max-width: 1140px){
    &-menu {
      &-item {
        width: calc(100vw / 7);
      }
    }
  }

  @media (max-width: 720px) {
    &-logo {
      display: none;
    }
    &-menu {
      &-item {
        width: calc(100vw / 3);
        font-size: 3vh;
      }
    }
  }
}

.home {
  &-background {
    height: 100vh;
    overflow: hidden;

    & img {
      height: 100%;
      overflow: hidden;
    }
  }
}

#landing{
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  //background-color: aqua;
  //// initial position
  //top: 0;
  //left: 0;
}

.title {
  position: fixed;
  top: calc(50% + 5.5vh);
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
  width: 100%;
  max-width: 800px;
  text-align: center;
  padding: 0 40px;

  &-description {
    margin: 5px auto auto;
    width: 70%;
  }
}

.landing-page {
  width: 100%;
  height: 100vh;
  background: 0;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../../../assets/img/camera/sunset-edited.png) no-repeat;
    background-size: cover;
    //opacity: 1; // 0.3
    //animation: anim 25s linear infinite;
  }
  & h1{
    color: #005eea;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 20px;
  }
  & p{
    color: #fff;
    margin-bottom: 20px;
  }
  @keyframes anim {
    50%{
      transform: scale(2);
    }
    100%{
      transform: scale(1);
    }
  }
}

.gallery-view {
  position: absolute;
  top: 89vh;
}

.gallery-container {
  background-color: #050215;
  position: absolute;
  top: 100%;
  height: calc(400% - 11vh);
  width: 100%;
  display: flex;
  overflow-x: hidden;

  .gallery-content {
    font-size: 3vh;

    @media (max-width: 1140px) {
      &-link {
        width: 100% !important;
        height: inherit !important;
        line-height: inherit !important;
      }
      &-main {
        &-image {
          max-height: 80% !important;
        }
      }

      .text-blue {
        margin-top: 1.5vh;
      }

      .text-red {
        bottom: 0;
        position: absolute;
      }
    }

    &-link {
      width: 15%;
      padding: 0;
      cursor: pointer;
      line-height: 89vh;
      text-align: center;
    }

    &-main {
      width: 70%;
      padding: 0;

      .original {
        opacity: 0;
      }
      &-image {
        max-height: 90%;
        max-width: 100%;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -52%);
        transform: translate(-50%, -52%);
        transition: all 0.5s;
      }
      &-reflection {
        opacity: 0;
        max-width: 65vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -52%);
        transition: all 0.5s;
      }
      .portrait-image {
        max-width: 45vh !important;
      }
      @media (max-width: 700px) {
        &-reflection {
          width: 44vh;
        }
      }
    }
  }
}

.gallery-item {
  position: relative;
  z-index: 10;
  height: 89vh;
  min-width: 100%;
  background-color: #050215;;
}

.gallery-item:nth-child(even) {
  background-color: #08041e; // 080326
}

.film-container {
  background-color: #050215; // !!!
  z-index: 10;
  top: 604%;
  position: absolute;
  height: 89vh;
  width: 100%;
}

.film-player {
  border: none;
  width: 100%;
  height: 100%;
}

#cover {
  background-color: #050215;
  height: 40vh;
  top: 584%;
  position: absolute;
  width: 100%;
}

.text {
  &-blue {
    color: #0000FF;
  }
  &-white {
    color: #FFFFFF;
  }
  &-red {
    color: #FF0066
  }
  &-bold {
    font-weight: bold;
  }
}

@media (min-width: 1140px) {
  .wide-text {
    &-left {
      margin-left: 2%;
    }
    &-right {
      width: 9% !important;
      margin-left: -1.5%;
    }
  }
}

.margin-0 {
  margin: 0;
}

.active {
  text-decoration: underline;

  a {
    cursor: default;
  }
}
