@font-face {
  font-family: 'Cabin Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/cabincondensed/v14/nwpJtK6mNhBK2err_hqkYhHRqmwi3MfN5Fd4yK0.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: 'Cabin Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/cabincondensed/v14/nwpJtK6mNhBK2err_hqkYhHRqmwi3MfN5Vd4yK0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Cabin Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/cabincondensed/v14/nwpJtK6mNhBK2err_hqkYhHRqmwi3MfN61d4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

section {
  position: absolute;
  top: 100%;
  height: 100%;
  width: 100%;
  background-color: white;

  @for $i from 1 through 4 {
    &:nth-child(#{$i}) {
      top: calc(#{$i} * 100%);
    }
  }
  // cut this out (just borders)
  @for $i from 1 through 4 {
    &:nth-child(#{$i}) {
      border: 1px solid black;
    }
  }
  // ---^
}

.home {
  &-background {
    height: 100vh;
    overflow: hidden;

    & img {
      height: 100%;
      overflow: hidden;
    }
  }
}

#landing{
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: aqua;
  // initial position
  top: 0;
  left: 0;
}

.landing {
  &::before {
    content: "";
    z-index: 10;
    background-color: #92AED5;
    width: 100%;
    position: absolute;
    left: 0;
    top: -50vh;
    height: 50vh;
  }
}

.landing-page {
  width: 100%;
  height: 100vh;
  background: #000;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../../../assets/img/landing-background.jfif) no-repeat;
    background-size: cover;
    opacity: .3;
    animation: anim 25s linear infinite;
  }
  &-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    width: 100%;
    max-width: 800px;
    text-align: center;
    padding: 0 40px;

    svg { // style France Title
    }
  }
  & h1{
    color: #005eea;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 20px;
  }
  & p{
    color: #fff;
    margin-bottom: 20px;
  }
  @keyframes anim {
    50%{
      transform: scale(2);
    }
    100%{
      transform: scale(1);
    }
  }
}
