<div class="navbar">
  <div class="navbar-logo">
<!--    <img class="navbar-logo-image" src="assets/img/Logo_b2.svg" alt="France Logo">-->
    <img (mouseenter)="turnLogo(1)" (mouseleave)="turnLogo(-1)" id="logo-circle" class="navbar-logo-image circle" src="assets/img/Logo-Circle.svg" alt="France Logo">
    <img class="navbar-logo-image text" src="assets/img/Logo-Text.svg" alt="France Logo">
  </div>
    <ul class="navbar-menu">
      <li class="navbar-menu-item active">
        <a (click)="onScrollInto(landing)" class="navbar-menu-item-link text-blue text-bold">home</a>
      </li>
      <li class="navbar-menu-item">
        <a (click)="onScrollInto(gallery_view)" class="navbar-menu-item-link text-white text-bold" >gallery</a>
      </li>
      <li class="navbar-menu-item">
        <a (click)="onScrollInto(film)" class="navbar-menu-item-link text-red text-bold">short film</a>
      </li>
    </ul>
</div>

<div #landing></div>
<div id="landing" appParallax [ratio]="-0.1" class="landing"> <!-- -0.2-->
  <div class="landing-page">
    <div class="landing-page-content">
    </div>
  </div>
</div>

<div class="title">
  <img class="title-image" src="assets/img/Logo_b2.svg" alt="Logo France">
  <p class="title-description text-white">
    This ePortfolio is about my vacations in France in fall 2021. I designed and implemented the website as a part of the Swiss IT schooling organization's Module 152.
  </p>
</div>

<div #gallery_view class="gallery-view"></div>
<div #gallery id="gallery" class="gallery-container">
  <section id="gallery-item-1" class="gallery-item" >
    <div class="gallery-content">
      <div class="row margin-0">
      <a
        (mouseenter)="unedited(true)" (mouseleave)="unedited(false)"
        class="gallery-content-link text-blue">
        <p>unedited</p>
      </a>
      <div class="gallery-content-main">
        <img class="gallery-content-main-image edited" src="assets/img/camera/provence-libre-edited.png" alt="Provence Libre Edited">
        <img class="gallery-content-main-image original" src="assets/img/camera/provence-libre-original.jpg" alt="Provence Libre Original">
        <p class="gallery-content-main-reflection text-white">
          A beautiful sunset I spent at the cliffs of Marseille with my brother. The inscription on the rock says 'Provence Libre' and stems from the conflict between the local citizens and the people of Paris.
        </p>
      </div>
      <a
        (mouseenter)="reflection(true)" (mouseleave)="reflection(false)"
        class="gallery-content-link text-red">
        <p>reflection</p>
      </a>
      </div>
    </div>
  </section>
  <section id="gallery-item-2" class="gallery-item">
    <div class="gallery-content">
      <div class="row margin-0">
        <a
          (mouseenter)="unedited(true)" (mouseleave)="unedited(false)"
          class="gallery-content-link text-blue">
          <p>unedited</p>
        </a>
        <div class="gallery-content-main">
          <img class="gallery-content-main-image edited" src="assets/img/camera/rearview-mirror-edited.jpg" alt="Rearview mirror Edited">
          <img class="gallery-content-main-image original" src="assets/img/camera/rearview-mirror-original.jpg" alt="Rearview mirror Original">
          <p class="gallery-content-main-reflection text-white portrait-image">
            On the way to France I shot this picture through a sidewindow of our car. I love how the sun reflects in the rearview mirror and creates this warm beam of light.
          </p>
        </div>
        <a
          (mouseenter)="reflection(true)" (mouseleave)="reflection(false)"
          class="gallery-content-link text-red">
          <p>reflection</p>
        </a>
      </div>
    </div>
  </section>
  <section id="gallery-item-3" class="gallery-item">
    <div class="gallery-content">
      <div class="row margin-0">
        <a
          (mouseenter)="unedited(true)" (mouseleave)="unedited(false)"
          class="gallery-content-link text-blue">
          <p>unedited</p>
        </a>
        <div class="gallery-content-main">
          <img class="gallery-content-main-image edited" src="assets/img/camera/sea-stone-edited.png" alt="Rearview mirror Edited">
          <img class="gallery-content-main-image original" src="assets/img/camera/sea-stone-original.jpg" alt="Rearview mirror Original">
          <p class="gallery-content-main-reflection text-white portrait-image">
            This picture was taken without any sort of preparation. I was just enjoying some time alone on the cliffs and pulled out my phone camera. Because of this I even had to edit my inconveniently placed shoes out of the photo.
          </p>
        </div>
        <a
          (mouseenter)="reflection(true)" (mouseleave)="reflection(false)"
          class="gallery-content-link text-red">
          <p>reflection</p>
        </a>
      </div>
    </div>
  </section>
  <section id="gallery-item-4" class="gallery-item">
    <div class="gallery-content">
      <div class="row margin-0">
        <a
          (mouseenter)="unedited(true)" (mouseleave)="unedited(false)"
          class="gallery-content-link text-blue">
          <p>unedited</p>
        </a>
        <div class="gallery-content-main">
          <img class="gallery-content-main-image edited" src="assets/img/camera/aqua-sea-edited.jpg" alt="Rearview mirror Edited">
          <img class="gallery-content-main-image original" src="assets/img/camera/aqua-sea-original.jpg" alt="Rearview mirror Original">
          <p class="gallery-content-main-reflection text-white">
            My brother and I went diving and swimming in the sea almost every day. At this particular location the water looked very beautiful because the seafloor was covered with small white stones.
          </p>
        </div>
        <a
          (mouseenter)="reflection(true)" (mouseleave)="reflection(false)"
          class="gallery-content-link text-red">
          <p>reflection</p>
        </a>
      </div>
    </div>
  </section>
  <section id="gallery-item-5" class="gallery-item">
    <div class="gallery-content">
      <div class="row margin-0">
        <a
          (mouseenter)="unedited(true)" (mouseleave)="unedited(false)"
          class="gallery-content-link text-blue">
          <p>unedited</p>
        </a>
        <div class="gallery-content-main">
          <img class="gallery-content-main-image edited" src="assets/img/camera/salty-stone-edited.jpg" alt="Rearview mirror Edited">
          <img class="gallery-content-main-image original" src="assets/img/camera/salty-stone-original.jpg" alt="Rearview mirror Original">
          <p class="gallery-content-main-reflection text-white portrait-image">
            The surface of the cliff was rough and worn from decades of exposure to the splashing salt water. Illuminated by the warm light of the evening sun, they offer a very special aesthetic.
          </p>
        </div>
        <a
          (mouseenter)="reflection(true)" (mouseleave)="reflection(false)"
          class="gallery-content-link text-red">
          <p>reflection</p>
        </a>
      </div>
    </div>
  </section>
</div>

<div #film id="film" class="film-container">
    <iframe class="film-player" [src]='safeURL' allowfullscreen></iframe>
</div>
