<div appParallax [ratio]="0.2" id="landing" class="landing"> <!-- -0.2-->
  <div class="landing-page">
    <div class="landing-page-content">
      <!--      <h1>France 2021</h1>-->
      <img src="assets/img/Logo_b2.svg" alt="Logo France">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia illo facilis non mollitia eos fuga quas
        asperiores modi adipisci cupiditate odit rem reiciendis, natus aspernatur.
      </p>
    </div>
  </div>
</div>


<section class="x">
  <app-gallery></app-gallery>
</section>

<section class="x">
</section>

<section class="x">
</section>

<section class="home">
  <div class="home-background">
    <img src="assets/img/home-background-test.jfif" alt="home-background" width="100%">
  </div>
</section>
