<!--<section class="home">-->
<!--  <div class="home-background">-->
<!--      <div class="home-background-parallax">-->
<!--        <img src="assets/img/home-background-test.jfif" alt="home-background" width="100%">-->
<!--      </div>-->
<!--  </div>-->
<!--</section>-->

<!--<section>-->
<!--<app-gallery></app-gallery>-->
<!--</section>-->

<div id="container">
  <div id="content">
    <div style="width: 80%; margin: auto;">
      Lots of placeholder text here so we ample vertical scroll to play with....
    </div>
  </div>
</div>

<div appParallax [ratio]="-0.2" id="landing">
  <img src="assets/img/home-background-test.jfif" alt="home-background" width="100%">
</div>


<section class="home">
  <div class="home-background">
      <div class="home-background-parallax">
        <img src="assets/img/home-background-test.jfif" alt="home-background" width="100%">
      </div>
  </div>
</section>
